#main {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1200px) {
  #main {
    flex-direction: column;
  }
}

#myContainer {
  width: 700px;
  height: 500px;
  position: relative;
  background: grey;
  border: 5px solid red;
}

#infoHeader {
  width: 500px;
}

#startHeader,
#myTime,
#reset,
#highScore {
  margin: 0px;
  padding: 2px;
}

#gamePiece {
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: black;
}

.ob {
  position: absolute;
  background-color: red;
}

#hobs1 {
  width: 450px;
  height: 50px;
  top: 75px;
  left: 200px;
}

#hobs2 {
  width: 350px;
  height: 50px;
  top: 200px;
  left: 200px;
}

#hobs3 {
  width: 450px;
  height: 50px;
  top: 315px;
  left: 75px;
}

#vobs1 {
  width: 50px;
  height: 360px;
  top: 75px;
  left: 50px;
}

#vobs2 {
  width: 50px;
  height: 425px;
  top: 75px;
  left: 625px;
}

#vobs3 {
  width: 125px;
  height: 75px;
  top: 425px;
  left: 500px;
}

#vobs4 {
  width: 50px;
  height: 75px;
  top: 350px;
  left: 350px;
}

#vobs5 {
  width: 100px;
  height: 75px;
  top: 425px;
  left: 175px;
}

#winTile {
  width: 10px;
  height: 50px;
  top: 445px;
  left: 10px;
  background-color: green;
}

.spin {
  animation: rotate 4s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(-200deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
